---
import { getTransLink } from "../utils/langs";
const { language, article } = Astro.props;
---

<article class="column feature bg-gray-100 rounded">
  <!-- Rest of the ArticleCard html -->
  <a
    href={getTransLink(language, `/blog/${article.slug}`)}
    class="font-semibold text-blue-600 hover:underline"
    title="read more"
  >
    Read More »
  </a>
</article>
